In [2]:
#Import Library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Load Dataset
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
# dataset preprocessing
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [5]:
# drop column - which column not required we can drop it
dataset= dataset.drop("User ID",axis=1)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [6]:
#checking 0 and 1 counts in purchased column - also this is imbalanced Data 
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [7]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [8]:
#input and coutput columns
independent= dataset [['Age', 'EstimatedSalary','Gender_Male']]
dependent = dataset ['Purchased']

In [9]:
#input column size
independent.shape

(400, 3)

In [10]:
dependent.shape

(400,)

In [11]:
# train and test set split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=1/3,random_state=0)

#Standard Scaler
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train= sc.fit_transform(x_train)
x_test= sc.transform(x_test)

In [12]:
# Model Creation
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import GridSearchCV

param_grid = {'n_estimators':[10,100,200],'criterion':['gini','entropy','log_loss'],'max_features':['sqrt','log2',None]}

grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 

# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.f1_score.html#sklearn.metrics.f1_score

# fitting the model for grid search 
grid.fit(x_train, y_train)

Fitting 5 folds for each of 27 candidates, totalling 135 fits

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log2', None],
                         'n_estimators': [10, 100, 200]},
             scoring='f1_weighted', verbose=3)

In [13]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(x_test)

In [14]:
print(grid.best_params_)
table=pd.DataFrame.from_dict(re)
table

{'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 200}

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.106478,0.010576,0.009122,0.005253,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.847141,0.888107,0.832483,0.906166,0.943041,0.883388,0.040012,15
1,0.788029,0.049829,0.033770,0.034394,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.847141,0.907177,0.832483,0.925272,0.943699,0.891154,0.043729,11
2,1.454594,0.170482,0.065724,0.028909,gini,sqrt,200,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.867478,0.907177,0.851527,0.925272,0.943699,0.899031,0.034648,3
3,0.041972,0.035445,0.019615,0.016979,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.867478,0.888107,0.851527,0.924528,0.943699,0.895068,0.034463,6
4,0.619993,0.036632,0.035844,0.023014,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.826263,0.888107,0.851527,0.925272,0.962264,0.890687,0.049010,12
5,1.172398,0.020783,0.061532,0.017557,gini,log2,200,"{'criterion': 'gini', 'max_features': 'log2', ...",0.847141,0.907177,0.851527,0.925272,0.943699,0.894963,0.039030,9
6,0.027516,0.002730,0.029706,0.024270,gini,None,10,"{'criterion': 'gini', 'max_features': None, 'n...",0.804764,0.852030,0.851527,0.906166,0.943041,0.871506,0.048066,22
7,0.543832,0.025918,0.051497,0.016810,gini,None,100,"{'criterion': 'gini', 'max_features': None, 'n...",0.847141,0.850809,0.851527,0.887907,0.924528,0.872383,0.029992,20
8,1.187798,0.040745,0.062395,0.017615,gini,None,200,"{'criterion': 'gini', 'max_features': None, 'n...",0.826263,0.850809,0.851527,0.887907,0.924528,0.868207,0.034352,23
9,0.026428,0.003751,0.045520,0.024226,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.826263,0.889022,0.851527,0.944161,0.923510,0.886897,0.043707,13
10,0.578753,0.051479,0.034184,0.021387,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.867478,0.868752,0.851527,0.925272,0.962264,0.895059,0.041898,7
11,1.176837,0.036810,0.055867,0.017264,entropy,sqrt,200,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.867478,0.907177,0.851527,0.925272,0.962264,0.902744,0.039841,1
12,0.025331,0.003750,0.035782,0.030992,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.826263,0.868752,0.851527,0.925272,0.923510,0.879065,0.039403,17
13,0.533911,0.046481,0.023784,0.017809,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.847141,0.888107,0.851527,0.925272,0.962264,0.894862,0.043974,10
14,1.125051,0.032947,0.067394,0.007658,entropy,log2,200,"{'criterion': 'entropy', 'max_features': 'log2...",0.867478,0.907177,0.851527,0.925272,0.962264,0.902744,0.039841,1
15,0.027933,0.002013,0.040916,0.020849,entropy,None,10,"{'criterion': 'entropy', 'max_features': None,...",0.826263,0.813511,0.851527,0.887907,0.943041,0.864450,0.046791,24
16,0.554975,0.051280,0.024308,0.014940,entropy,None,100,"{'criterion': 'entropy', 'max_features': None,...",0.867478,0.850809,0.851527,0.906935,0.924528,0.880256,0.030092,16
17,1.277523,0.023462,0.074238,0.012520,entropy,None,200,"{'criterion': 'entropy', 'max_features': None,...",0.826263,0.831253,0.833323,0.887907,0.924528,0.860655,0.039030,25
18,0.028061,0.006678,0.021833,0.022972,log_loss,sqrt,10,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.826263,0.868752,0.851527,0.886792,0.943041,0.875275,0.039329,19
19,0.522780,0.010868,0.051334,0.018263,log_loss,sqrt,100,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.826263,0.868752,0.851527,0.925272,0.962264,0.886816,0.049819,14
20,1.162876,0.028376,0.070379,0.013727,log_loss,sqrt,200,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.867478,0.907177,0.851527,0.925272,0.943699,0.899031,0.034648,3
21,0.023171,0.002473,0.059005,0.008015,log_loss,log2,10,"{'criterion': 'log_loss', 'max_features': 'log...",0.804764,0.831253,0.813179,0.906166,0.923510,0.855774,0.049285,27
22,0.514345,0.030165,0.026811,0.022161,log_loss,log2,100,"{'criterion': 'log_loss', 'max_features': 'log...",0.867478,0.888107,0.851527,0.944161,0.943699,0.898995,0.038480,5
23,1.188221,0.014952,0.053636,0.019841,log_loss,log2,200,"{'criterion': 'log_loss', 'max_features': 'log...",0.867478,0.868752,0.851527,0.925272,0.962264,0.895059,0.041898,7
24,0.027428,0.002730,0.024151,0.028774,log_loss,None,10,"{'criterion': 'log_loss', 'max_features': None...",0.804764,0.849057,0.832483,0.868632,0.924528,0.855893,0.040205,26
25,0.606249,0.027196,0.030870,0.024860,log_loss,None,100,"{'criterion': 'log_loss', 'max_features': None...",0.847141,0.850809,0.833323,0.906935,0.943699,0.876381,0.042020,18
26,1.220867,0.064488,0.049833,0.019733,log_loss,None,200,"{'criterion': 'log_loss', 'max_features': None...",0.847141,0.850809,0.851527,0.887907,0.924528,0.872383,0.029992,20

In [15]:
# here going to use confusion matrix instead of R2_Score
from sklearn.metrics import confusion_matrix
cm = confusion_matrix (y_test,grid_predictions)
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[79  6]
 [ 4 45]]

In [16]:
# Classification report to find recall, f1_score, precision, support
from sklearn.metrics import classification_report
clf_report =classification_report(y_test,grid_predictions)
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.95      0.93      0.94        85
           1       0.88      0.92      0.90        49

    accuracy                           0.93       134
   macro avg       0.92      0.92      0.92       134
weighted avg       0.93      0.93      0.93       134

In [17]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 200}: 0.9256751954513147

In [18]:
#age_input=float(input("Age:"))
#salary_input=float(input("BMI:"))
#sex_male_input=int(input("Sex Male 0 or 1:"))
#classifier.predict([[age_input,salary_input,sex_male_input]])