In [2]:
#Import Library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Load Dataset
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
# dataset preprocessing
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [5]:
# drop column - which column not required we can drop it
dataset= dataset.drop("User ID",axis=1)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [6]:
#checking 0 and 1 counts in purchased column - also this is imbalanced Data 
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [7]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [8]:
#input and coutput columns
independent= dataset [['Age', 'EstimatedSalary','Gender_Male']]
dependent = dataset ['Purchased']

In [9]:
#input column size
independent.shape

(400, 3)

In [10]:
dependent.shape

(400,)

In [11]:
# train and test set split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=1/3,random_state=0)

# Model Creation
from sklearn.naive_bayes import GaussianNB
classifier= GaussianNB()
classifier.fit(x_train,y_train)

GaussianNB()

In [12]:
# Y test Prediction
y_prediction = classifier.predict(x_test)

In [13]:
# here going to use confusion matrix instead od R2_Score
from sklearn.metrics import confusion_matrix
cm = confusion_matrix (y_test,y_prediction)
print (cm)

[[80  5]
 [ 8 41]]

In [14]:
# Classification report to find recall, f1_score, precision, support
from sklearn.metrics import classification_report
clf_report =classification_report(y_test,y_prediction)
print (clf_report)

              precision    recall  f1-score   support

           0       0.91      0.94      0.92        85
           1       0.89      0.84      0.86        49

    accuracy                           0.90       134
   macro avg       0.90      0.89      0.89       134
weighted avg       0.90      0.90      0.90       134

In [15]:
#age_input=float(input("Age:"))
#salary_input=float(input("BMI:"))
#sex_male_input=int(input("Sex Male 0 or 1:"))
#classifier.predict([[age_input,salary_input,sex_male_input]])