In [1]:
# Assignment No: 2
# print 0 to 20 by using range
#Range(0 to 20)
for num in range(0,20):
    print (num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [19]:
# print range 10 to 20
for value in range(10,20):
    print(value,end=' ')

10 11 12 13 14 15 16 17 18 19

In [20]:
 # Print number of items in the list by using 'len'
Numbers = [10, 20, 14, 55, 43, 87, 76]
print(Numbers)
length=len(Numbers)
print("Number of item in the List2:\n",length)

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [4]:
#Range(10 to 20) with 2 gap
for num1 in range(10,20,2):
    print(num1)

10
12
14
16
18

In [5]:
name = "Artificial Intelligence"
print(name)
for output in name:
    print(output)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [21]:
# User Giving Input
name =input("Enter Name:")
for output in name:
    print(output)

Enter Name: santhiya

s
a
n
t
h
i
y
a

In [7]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [17]:
list= ["-Your Name-","-Your Age-","-Your Profession-"]
for alpabet in list:
    print(alpabet)

-Your Name-
-Your Age-
-Your Profession-

In [8]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples
# Creating a Tuple
# with Mixed Datatype
Tuple1 = (1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [9]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Tuple1 = (0, 1, 2, 3)
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [24]:
# print Odd Numbers in the list
list_2 = (20,10,16,19,25,1,276,188)
print(list_2)
for x in list_2:
    if(x%2==1):
        print(x,"is odd")
   # else:
     #  print(x,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [25]:
# print Even numbers in the list
list_2 = [20,10,16,19,25,1,276,188]
print(list_2)
for x in list_2:
    if(x%2==0):
        print(x,"is Even")
    #else:
       #print(x,"is Odd")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is Even
10 is Even
16 is Even
276 is Even
188 is Even