In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train= sc.fit_transform(x_train)
x_test= sc.transform(x_test)
#  (Xi-Xmean)/Xstd

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid= {'criterion':['squared_error','friedman_mse','absolute_error','poisson'],'max_features': ['sqrt','log2'],'n_estimators':[50,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

C:\Users\santhiya\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [10]:
re=grid.cv_results_
re

{'mean_fit_time': array([0.15978966, 0.28311076, 0.15180793, 0.29688988, 0.16145411,
        0.28725748, 0.16087122, 0.29467421, 0.45812645, 0.94345593,
        0.51699281, 0.94172773, 0.19901328, 0.35227027, 0.1778903 ,
        0.2861021 ]),
 'std_fit_time': array([0.01028652, 0.01614414, 0.01164265, 0.0080368 , 0.01564077,
        0.01730566, 0.01100585, 0.04403734, 0.02552894, 0.08713533,
        0.04006997, 0.06986246, 0.02110189, 0.01009587, 0.01265375,
        0.03236001]),
 'mean_score_time': array([0.00974698, 0.01104379, 0.00966458, 0.01147175, 0.00421467,
        0.01007867, 0.00817175, 0.01203642, 0.00873194, 0.01045051,
        0.00681925, 0.01003532, 0.00976863, 0.01000538, 0.00441275,
        0.00643907]),
 'std_score_time': array([6.38936780e-03, 4.03873198e-03, 8.22175184e-04, 3.06099300e-03,
        4.58067659e-03, 4.97007532e-05, 7.17146893e-03, 3.11054032e-03,
        1.77524768e-03, 8.05660591e-04, 3.92830395e-03, 1.10121513e-05,
        1.10672768e-02, 1.28482491e-03, 3.88502606e-03, 3.67780142e-03]),
 'param_criterion': masked_array(data=['squared_error', 'squared_error', 'squared_error',
                    'squared_error', 'friedman_mse', 'friedman_mse',
                    'friedman_mse', 'friedman_mse', 'absolute_error',
                    'absolute_error', 'absolute_error', 'absolute_error',
                    'poisson', 'poisson', 'poisson', 'poisson'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=['sqrt', 'sqrt', 'log2', 'log2', 'sqrt', 'sqrt', 'log2',
                    'log2', 'sqrt', 'sqrt', 'log2', 'log2', 'sqrt', 'sqrt',
                    'log2', 'log2'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[50, 100, 50, 100, 50, 100, 50, 100, 50, 100, 50, 100,
                    50, 100, 50, 100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'squared_error',
   'max_features': 'sqrt',
   'n_estimators': 50},
  {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 50},
  {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 100},
  {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 50},
  {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 50},
  {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100},
  {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 50},
  {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 50},
  {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100},
  {'criterion': 'poisson', 'max_features': 'sqrt', 'n_estimators': 50},
  {'criterion': 'poisson', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'poisson', 'max_features': 'log2', 'n_estimators': 50},
  {'criterion': 'poisson', 'max_features': 'log2', 'n_estimators': 100}],
 'split0_test_score': array([0.86183611, 0.86528354, 0.86757786, 0.86285257, 0.86599076,
        0.86210486, 0.85706139, 0.86527433, 0.85335475, 0.85957174,
        0.85600696, 0.85806334, 0.85600505, 0.86216708, 0.85937297,
        0.86492249]),
 'split1_test_score': array([0.79313839, 0.78103956, 0.78820956, 0.78960325, 0.78500706,
        0.78676478, 0.78358874, 0.7934976 , 0.7878839 , 0.79757558,
        0.78979686, 0.8001757 , 0.79045469, 0.78927644, 0.79200319,
        0.78669985]),
 'split2_test_score': array([0.8094115 , 0.80534951, 0.80416775, 0.80514135, 0.80047421,
        0.80485683, 0.80891703, 0.80735001, 0.80736895, 0.81465995,
        0.81365202, 0.80099472, 0.80195477, 0.80962718, 0.81983513,
        0.80814974]),
 'split3_test_score': array([0.83313259, 0.82848173, 0.82947985, 0.82503921, 0.82163014,
        0.82620138, 0.83535725, 0.82719582, 0.82520505, 0.82566773,
        0.81886405, 0.82312831, 0.82151089, 0.83055745, 0.82514248,
        0.82460871]),
 'split4_test_score': array([0.76026756, 0.77171206, 0.76316236, 0.76614249, 0.77250517,
        0.76605362, 0.76496582, 0.7758498 , 0.76567862, 0.76821128,
        0.77082869, 0.77131305, 0.76687317, 0.76526709, 0.77418346,
        0.76898059]),
 'mean_test_score': array([0.81155723, 0.81037328, 0.81051948, 0.80975577, 0.80912147,
        0.80919629, 0.80997805, 0.81383351, 0.80789825, 0.81313726,
        0.80982972, 0.81073502, 0.80735971, 0.81137905, 0.81410745,
        0.81067228]),
 'std_test_score': array([0.03454837, 0.03383326, 0.03576571, 0.03280972, 0.03282565,
        0.03308106, 0.03342026, 0.03073453, 0.03016345, 0.03025228,
        0.02881306, 0.0288237 , 0.03006918, 0.03336208, 0.02927821,
        0.03303497]),
 'rank_test_score': array([ 4,  9,  8, 12, 14, 13, 10,  2, 15,  3, 11,  6, 16,  5,  1,  7])}

In [11]:
grid_predictions=grid.predict(x_test)

In [12]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.159790,0.010287,0.009747,0.006389,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.861836,0.793138,0.809412,0.833133,0.760268,0.811557,0.034548,4
1,0.283111,0.016144,0.011044,0.004039,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.865284,0.781040,0.805350,0.828482,0.771712,0.810373,0.033833,9
2,0.151808,0.011643,0.009665,0.000822,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.867578,0.788210,0.804168,0.829480,0.763162,0.810519,0.035766,8
3,0.296890,0.008037,0.011472,0.003061,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.862853,0.789603,0.805141,0.825039,0.766142,0.809756,0.032810,12
4,0.161454,0.015641,0.004215,0.004581,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.865991,0.785007,0.800474,0.821630,0.772505,0.809121,0.032826,14
5,0.287257,0.017306,0.010079,0.000050,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.862105,0.786765,0.804857,0.826201,0.766054,0.809196,0.033081,13
6,0.160871,0.011006,0.008172,0.007171,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.857061,0.783589,0.808917,0.835357,0.764966,0.809978,0.033420,10
7,0.294674,0.044037,0.012036,0.003111,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.865274,0.793498,0.807350,0.827196,0.775850,0.813834,0.030735,2
8,0.458126,0.025529,0.008732,0.001775,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.853355,0.787884,0.807369,0.825205,0.765679,0.807898,0.030163,15
9,0.943456,0.087135,0.010451,0.000806,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.859572,0.797576,0.814660,0.825668,0.768211,0.813137,0.030252,3
10,0.516993,0.040070,0.006819,0.003928,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.856007,0.789797,0.813652,0.818864,0.770829,0.809830,0.028813,11
11,0.941728,0.069862,0.010035,0.000011,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.858063,0.800176,0.800995,0.823128,0.771313,0.810735,0.028824,6
12,0.199013,0.021102,0.009769,0.011067,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.856005,0.790455,0.801955,0.821511,0.766873,0.807360,0.030069,16
13,0.352270,0.010096,0.010005,0.001285,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.862167,0.789276,0.809627,0.830557,0.765267,0.811379,0.033362,5
14,0.177890,0.012654,0.004413,0.003885,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.859373,0.792003,0.819835,0.825142,0.774183,0.814107,0.029278,1
15,0.286102,0.032360,0.006439,0.003678,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.864922,0.786700,0.808150,0.824609,0.768981,0.810672,0.033035,7

In [13]:
from sklearn.metrics import r2_score
r_score = r2_score(y_test,grid_predictions)
print(r_score)
print("The R_score value for best parameter {}:".format(grid.best_params_))

0.868816211329877
The R_score value for best parameter {'criterion': 'poisson', 'max_features': 'log2', 'n_estimators': 50}:

In [ ]:
#age_input=float(input("Age:"))
#bmi_input=float(input("BMI:"))
#children_input=float(input("Children:"))
#sex_male_input=int(input("Sex Male 0 or 1:"))
#smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [ ]:
#Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#print("Future_Prediction={}".format(Future_Prediction))