In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
# without training and test Split

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
independent = sc.fit_transform(independent)
#  (Xi-Xmean)/Xstd

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
param_grid= {'fit_intercept':[True,False],'copy_X':[True,False],'n_jobs':[None],'positive':[True,False]}
grid = GridSearchCV(LinearRegression(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

GridSearchCV(estimator=LinearRegression(), n_jobs=-1,
             param_grid={'copy_X': [True, False],
                         'fit_intercept': [True, False], 'n_jobs': [None],
                         'positive': [True, False]},
             verbose=3)

In [10]:
re=grid.cv_results_
re

{'mean_fit_time': array([0.00411391, 0.00813808, 0.0011198 , 0.00261626, 0.00361657,
        0.00241961, 0.00248084, 0.00284257]),
 'std_fit_time': array([0.0013084 , 0.00298891, 0.00103469, 0.00216906, 0.00078504,
        0.00235087, 0.00181584, 0.00264732]),
 'mean_score_time': array([0.00695095, 0.00150332, 0.        , 0.00121999, 0.00141797,
        0.00151353, 0.00115657, 0.00068941]),
 'std_score_time': array([0.00372234, 0.0021532 , 0.        , 0.00146882, 0.00197838,
        0.00186219, 0.0017876 , 0.00057189]),
 'param_copy_X': masked_array(data=[True, True, True, True, False, False, False, False],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_fit_intercept': masked_array(data=[True, True, False, False, True, True, False, False],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_jobs': masked_array(data=[None, None, None, None, None, None, None, None],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_positive': masked_array(data=[True, False, True, False, True, False, True, False],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'copy_X': True,
   'fit_intercept': True,
   'n_jobs': None,
   'positive': True},
  {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': False},
  {'copy_X': True, 'fit_intercept': False, 'n_jobs': None, 'positive': True},
  {'copy_X': True, 'fit_intercept': False, 'n_jobs': None, 'positive': False},
  {'copy_X': False, 'fit_intercept': True, 'n_jobs': None, 'positive': True},
  {'copy_X': False, 'fit_intercept': True, 'n_jobs': None, 'positive': False},
  {'copy_X': False, 'fit_intercept': False, 'n_jobs': None, 'positive': True},
  {'copy_X': False,
   'fit_intercept': False,
   'n_jobs': None,
   'positive': False}],
 'split0_test_score': array([ 0.76148164,  0.76097874, -0.32993804, -0.32989287,  0.76148164,
         0.76097874, -0.32993804, -0.32989287]),
 'split1_test_score': array([ 0.70878211,  0.70873346, -0.7166146 , -0.72441092,  0.70878211,
         0.70873346, -0.7166146 , -0.72441092]),
 'split2_test_score': array([ 0.7755842 ,  0.7755842 , -0.39030162, -0.39030162,  0.7755842 ,
         0.7755842 , -0.39030162, -0.39030162]),
 'split3_test_score': array([ 0.73135307,  0.73136684, -0.46306633, -0.4682608 ,  0.73135307,
         0.73136684, -0.46306633, -0.4682608 ]),
 'split4_test_score': array([ 0.75675099,  0.7565446 , -0.47332853, -0.47332853,  0.75675099,
         0.7565446 , -0.47332853, -0.47332853]),
 'mean_test_score': array([ 0.7467904 ,  0.74664157, -0.47464982, -0.47723895,  0.7467904 ,
         0.74664157, -0.47464982, -0.47723895]),
 'std_test_score': array([0.02377844, 0.02371347, 0.13171104, 0.13450565, 0.02377844,
        0.02371347, 0.13171104, 0.13450565]),
 'rank_test_score': array([1, 3, 5, 7, 1, 3, 5, 7])}

In [11]:
grid_predictions=grid.predict(independent)

In [12]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_copy_X,param_fit_intercept,param_n_jobs,param_positive,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004114,0.001308,0.006951,0.003722,True,True,None,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
1,0.008138,0.002989,0.001503,0.002153,True,True,None,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,3
2,0.001120,0.001035,0.000000,0.000000,True,False,None,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,5
3,0.002616,0.002169,0.001220,0.001469,True,False,None,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,7
4,0.003617,0.000785,0.001418,0.001978,False,True,None,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
5,0.002420,0.002351,0.001514,0.001862,False,True,None,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,3
6,0.002481,0.001816,0.001157,0.001788,False,False,None,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,5
7,0.002843,0.002647,0.000689,0.000572,False,False,None,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,7

In [13]:
from sklearn.metrics import r2_score
r_score = r2_score(dependent,grid_predictions)
print(r_score)
print("The R_score value for best parameter {}:".format(grid.best_params_))

0.749694530346479
The R_score value for best parameter {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': True}: