In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train= sc.fit_transform(independent)
#  (Xi-Xmean)/Xstd

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid= {'criterion':['squared_error','friedman_mse','absolute_error','poisson'],'max_features': ['sqrt','log2'],'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

C:\Users\santhiya\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [9]:
re=grid.cv_results_
re

{'mean_fit_time': array([0.05667424, 0.36946058, 0.05041871, 0.37793441, 0.04951091,
        0.40342484, 0.06001878, 0.37239957, 0.16171222, 1.45851254,
        0.1633595 , 1.50607142, 0.05520892, 0.47170949, 0.05120635,
        0.44513025]),
 'std_fit_time': array([0.01387155, 0.01736948, 0.00968411, 0.03579848, 0.01229368,
        0.02524119, 0.02371667, 0.02214976, 0.00807591, 0.16084905,
        0.01374412, 0.08479663, 0.01343897, 0.0461138 , 0.00991183,
        0.02891846]),
 'mean_score_time': array([0.00563231, 0.01624451, 0.00542374, 0.01427064, 0.00401793,
        0.01667576, 0.00397058, 0.01425447, 0.00320601, 0.01367536,
        0.00079732, 0.0196404 , 0.00560913, 0.01077476, 0.00462494,
        0.01266832]),
 'std_score_time': array([0.00465732, 0.00517916, 0.00327325, 0.00081766, 0.0003319 ,
        0.00232234, 0.00064108, 0.00306729, 0.00271516, 0.00441089,
        0.00159464, 0.00966863, 0.00463814, 0.00122206, 0.00332476,
        0.00143946]),
 'param_criterion': masked_array(data=['squared_error', 'squared_error', 'squared_error',
                    'squared_error', 'friedman_mse', 'friedman_mse',
                    'friedman_mse', 'friedman_mse', 'absolute_error',
                    'absolute_error', 'absolute_error', 'absolute_error',
                    'poisson', 'poisson', 'poisson', 'poisson'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=['sqrt', 'sqrt', 'log2', 'log2', 'sqrt', 'sqrt', 'log2',
                    'log2', 'sqrt', 'sqrt', 'log2', 'log2', 'sqrt', 'sqrt',
                    'log2', 'log2'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[10, 100, 10, 100, 10, 100, 10, 100, 10, 100, 10, 100,
                    10, 100, 10, 100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'squared_error',
   'max_features': 'sqrt',
   'n_estimators': 10},
  {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 10},
  {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 100},
  {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 10},
  {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 10},
  {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100},
  {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 10},
  {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 10},
  {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100},
  {'criterion': 'poisson', 'max_features': 'sqrt', 'n_estimators': 10},
  {'criterion': 'poisson', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'poisson', 'max_features': 'log2', 'n_estimators': 10},
  {'criterion': 'poisson', 'max_features': 'log2', 'n_estimators': 100}],
 'split0_test_score': array([0.83467454, 0.85781821, 0.83768171, 0.86033801, 0.84768056,
        0.85737239, 0.85154549, 0.85413869, 0.83484529, 0.8605776 ,
        0.85657204, 0.85885736, 0.83049755, 0.85912748, 0.84688762,
        0.85782823]),
 'split1_test_score': array([0.76595197, 0.77890876, 0.76309935, 0.77206328, 0.76891926,
        0.7792013 , 0.75073721, 0.781405  , 0.76950725, 0.7845722 ,
        0.76851467, 0.77838064, 0.75409331, 0.77958299, 0.7510449 ,
        0.78007924]),
 'split2_test_score': array([0.85095998, 0.86269618, 0.83765653, 0.86027984, 0.84375807,
        0.8600038 , 0.85825231, 0.86277197, 0.83400163, 0.84932506,
        0.83630188, 0.85956604, 0.82956784, 0.86042772, 0.83677381,
        0.86301453]),
 'split3_test_score': array([0.8061465 , 0.82905641, 0.8054571 , 0.82869272, 0.79834369,
        0.82832923, 0.81187867, 0.82661909, 0.81855462, 0.82755569,
        0.80235248, 0.83101173, 0.80616664, 0.82425586, 0.79644093,
        0.82247418]),
 'split4_test_score': array([0.82435817, 0.84025858, 0.82165634, 0.83966522, 0.8058454 ,
        0.83919961, 0.83055082, 0.83639053, 0.81114796, 0.84467508,
        0.83340937, 0.84713604, 0.82372571, 0.84037658, 0.81577065,
        0.83916801]),
 'mean_test_score': array([0.81641823, 0.83374763, 0.81311021, 0.83220781, 0.8129094 ,
        0.83282126, 0.8205929 , 0.83226505, 0.81361135, 0.83334113,
        0.81943009, 0.83499036, 0.80881021, 0.83275413, 0.80938358,
        0.83251284]),
 'std_test_score': array([0.02912669, 0.02996369, 0.02770911, 0.03244898, 0.02952242,
        0.02924931, 0.03855181, 0.02844211, 0.02384248, 0.02659943,
        0.03080139, 0.03013836, 0.02872149, 0.02972835, 0.03396612,
        0.02988502]),
 'rank_test_score': array([11,  2, 13,  8, 14,  4,  9,  7, 12,  3, 10,  1, 16,  5, 15,  6])}

In [10]:
grid_predictions=grid.predict(independent)

In [11]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.056674,0.013872,0.005632,0.004657,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.834675,0.765952,0.850960,0.806147,0.824358,0.816418,0.029127,11
1,0.369461,0.017369,0.016245,0.005179,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.857818,0.778909,0.862696,0.829056,0.840259,0.833748,0.029964,2
2,0.050419,0.009684,0.005424,0.003273,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.837682,0.763099,0.837657,0.805457,0.821656,0.813110,0.027709,13
3,0.377934,0.035798,0.014271,0.000818,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.860338,0.772063,0.860280,0.828693,0.839665,0.832208,0.032449,8
4,0.049511,0.012294,0.004018,0.000332,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.847681,0.768919,0.843758,0.798344,0.805845,0.812909,0.029522,14
5,0.403425,0.025241,0.016676,0.002322,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.857372,0.779201,0.860004,0.828329,0.839200,0.832821,0.029249,4
6,0.060019,0.023717,0.003971,0.000641,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.851545,0.750737,0.858252,0.811879,0.830551,0.820593,0.038552,9
7,0.372400,0.022150,0.014254,0.003067,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.854139,0.781405,0.862772,0.826619,0.836391,0.832265,0.028442,7
8,0.161712,0.008076,0.003206,0.002715,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.834845,0.769507,0.834002,0.818555,0.811148,0.813611,0.023842,12
9,1.458513,0.160849,0.013675,0.004411,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.860578,0.784572,0.849325,0.827556,0.844675,0.833341,0.026599,3
10,0.163359,0.013744,0.000797,0.001595,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.856572,0.768515,0.836302,0.802352,0.833409,0.819430,0.030801,10
11,1.506071,0.084797,0.019640,0.009669,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.858857,0.778381,0.859566,0.831012,0.847136,0.834990,0.030138,1
12,0.055209,0.013439,0.005609,0.004638,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.830498,0.754093,0.829568,0.806167,0.823726,0.808810,0.028721,16
13,0.471709,0.046114,0.010775,0.001222,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.859127,0.779583,0.860428,0.824256,0.840377,0.832754,0.029728,5
14,0.051206,0.009912,0.004625,0.003325,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.846888,0.751045,0.836774,0.796441,0.815771,0.809384,0.033966,15
15,0.445130,0.028918,0.012668,0.001439,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.857828,0.780079,0.863015,0.822474,0.839168,0.832513,0.029885,6

In [12]:
from sklearn.metrics import r2_score
r_score = r2_score(dependent,grid_predictions)
print(r_score)
print("The R_score value for best parameter {}:".format(grid.best_params_))

0.9687560575607731
The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100}:

In [13]:
#age_input=float(input("Age:"))
#bmi_input=float(input("BMI:"))
#children_input=float(input("Children:"))
#sex_male_input=int(input("Sex Male 0 or 1:"))
#smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [ ]:
#Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#print("Future_Prediction={}".format(Future_Prediction))